:root {
  --heading-font: "Lexend Deca", sans-serif;
  --default-font: 'Poppins', sans-serif;
  --branding-color: #f67280;
  --heading-color: #6c5b7c;
  --secondary-color: #c06c84;
  --third-color: #f8b595;
}

body {
  font-family: var(--default-font);
  background: rgba(246, 114, 128, 0.2);
  margin: 0 60px;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: bold;
}

h1 {
  font-size: 64px;
  color: var(--third-color);
}

h2 {
    font-size: 28px;
    color: var(--third-color);
}

h3 {
    color: var(--heading-color);
}

p {
    font-size: 36px;
    color: var(--heading-color);
    font-weight: bold;
}

footer {
    height: 100px;
    margin: 120px 200px 0;
    border-radius: 30px;
}

footer a {
    text-decoration: none;
}

footer h3 {
    font-size: 48px;
    color: var(--third-color)
}

footer p {
    font-size: 12px;
}

footer p a {
    color: var(--heading-color);
}

footer p a:hover {
    color: var(--secondary-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--heading-color);
    padding: 10px 14px;
    font-size: 24px;
}

footer .contact-box {
    background: var(--secondary-color);
    border-radius: 120px;
    margin: 30px 80px 100px;
    padding: 30px 80px;
}

.index-body {
    margin-top: 0;
}

.hero {
    text-align: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border-radius: 30px;
}

.hero h2 {
  font-family: var(--default-font);
  line-height: 2;
  font-size: 28px;
}

.hero p {
    margin: auto 200px;
    font-size: 20px;
    color: white;
}

.hero img {
    margin: 15px;
}

.hero-content {
    margin-top: 100px;
}

.hero-name {
    color: var(--heading-color);
}

.homepage-navbar-links {
    color: var(--third-color) !important;
    font-weight: bold;
}

.homepage-navbar-links:hover,
.homepage-navbar-links.active {
    color: white !important;
}

.personal-navbar-links {
    color: var(--branding-color) !important;
    font-weight: bold;
}

.personal-navbar-links:hover,
.personal-navbar-links.active {
    color: var(--heading-color) !important;
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.featured-projects img {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    height: 400px;
}

.featured-projects h3 {
    color: var(--heading-color);
}

.featured-projects p {
    color: var(--heading-color);
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.about-description {
    margin: 120px 200px;
    padding: 30px 60px;
    background-color: var(--secondary-color);
    border-radius: 30px;
}

.about-description h1 {
    color: var(--heading-color);
    font-size: 46px;
}

.about-description p {
    color: white;
    font-size: 22px;
    font-weight: normal;
    text-align: justify;
}
.about-description h3 {
    color: var(--third-color);
}
.about-description ul {
    color: white;
    font-size: 24px;
    padding-left: 10px;
}

.featured-skills {
    margin-right:80px;
    margin-left: 80px;
    font-size: 60px;
    color: var(--heading-color);
}

.featured-skills p {
    font-size: 20px;
}

.work-heading h1 {
    color: var(--branding-color);
    margin-top: 120px;
}

.work-content h2 {
    color: var(--heading-color);
    font-size: 40px;
}

.work-content img {
    max-width: 80%;
}

.work-content p {
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
}

.project-item {
    padding: 20px 020px;
}

.right-image {
    position: relative;
    margin-left: 130px;
}

.contact-box-link {
    font-size: 24px;
    color: var(--third-color)
}

.contact-box-link:hover {
    color: white;
}

.contact-data {
    margin-top: 60px;
}

.contact-data a {
    text-decoration: none;
    color: var(--heading-color);
}

.contact-data ul {
    list-style: none;
    font-size: 30px;
    color: var(--secondary-color);
    padding: 0;
}

.contact-image {
    display: block;
    margin: 0px auto;
}

@media (max-width: 1200px) {

    body {
        margin: 0;
    }

    h1 {
        font-size: 44px;
        line-height: 1.5;
    }
    
    h2 {
        font-size: 28px;
    }

    footer {
        margin: 60px 10px 0;
    }

    .hero {
        padding: 60px 20px;
    }
    
    .hero p {
        margin: auto;
    }

    .about-description {
        margin: 60px 0;
        padding: 20px 30px;
    }

    .about-description h1 {
        font-size: 40px;
        line-height: 1.3;
    }
    
    .about-description p {
        font-size: 20px;
        line-height: 1.3;
    }

    .about-description ul {
        font-size: 20px;
        line-height: 1.5;
    }

    .featured-skills {
        font-size: 40px;
        margin: 0;
    }

    .featured-skills p {
        font-size: 15px;
    }

    .work-heading h1 {
        margin-top: 60px;
    }

    .contact-box h3 {
        font-size: 40px;
    }

    .contact-box a {
        font-size: 14px;
    }

    .contact-box .btn-branding {
        padding: 10px 15px;
    }
}